h1 {
    color: rgb(40, 137, 248);
    
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 20px;
    width: 500px;
    height: 500px;
    position: fixed;
    padding: 10px 10px 10px 10px;

}

.input {
    padding: 15px;
        margin: auto;
        display: flex;
        border-radius: 8px;
        background: #f1f1f1;
        width: 60%;
        outline: none;
        border: none;
        justify-content: center;
}

.btn-register,
.btn-login {
    background-color: #00cc3d;
    color: white;
    padding: 15px;
    display: flex;
    border: none;
    cursor: pointer;
    text-align: center;
    opacity: 0.9;
    border-radius: 8px;
    width: 40%;
    height: 20%;
    font-weight: 600;
    margin: auto;

    flex-direction: column;
    gap: 0.5em;
    float: left;
}